body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lampOn{
    background-color: yellow;
}

.lampOff{
    background-color: black;
    color: white;
}

#canvas {
    border: 2px solid black;
}